
##GIT START

<Files "git.sh">
Order Allow,Deny
deny from all
</Files>

<Files ".gitignore">
Order Allow,Deny
deny from all
</Files>

##GIT END

RewriteEngine On

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !git_receiver.php
RewriteCond %{REQUEST_FILENAME} !update.php
RewriteCond %{REQUEST_FILENAME} !routes.php
RewriteCond %{REQUEST_FILENAME} !sync.php
RewriteRule ^ public/ [L]
